.SkillItem{
    flex-basis: 25%;
    background: #f0f0f0;
    border:1px solid #04456C;
    border-radius: 30px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    gap:16px;
}

.SkillItem:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 20px #c2c2c2;
    background-color: hsl(203, 37%, 51%);
}

.SkillItem:hover p{
    color: #fff;
}

.SkillItem:hover img{
    transform: scale(1.1);
}

.SkillItem:hover .imgContainer{
    background-color: #fdfdfd;
}
.SkillItem p{
    margin: 0;
    transition: all 200ms ease-in-out;
}

.skillDescription{
    margin:0;
    font-size: 14px;
    flex-grow: 1;
    padding: 0px 16px 0px 16px;
}

.skillTitle{
    font-family: 'Josefin Sans';
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
    padding: 0px 16px 0px 16px;
}

.skillExperience{
    font-size: 14px;
    font-weight: bold;
    color:#444;
    padding: 0px 16px 16px 16px;
}

.imgContainer{
    height:130px;
    padding: 30px 30px 16px 30px;
    transition: all 200ms ease-in-out;
}

.imgContainer img{
    width:100%;
    height: 100%;
    transition: all 200ms ease-in-out;
}